* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .image {
    /* background-color: aqua; */
    background-image: url("../images/pexels-wildlittlethingsphoto-696271.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 120px); /* Adjust to ensure it doesn't overlap with footer */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .midLine {
    color: white;
    text-align: center;
    /* padding: 100px; */
    font-size: 50px;
    letter-spacing: 5px;
    margin-top: -200px;
  }
  
  .callNow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .callNow button {
    height: 40px;
    color: white;
    border: none;
    outline: 0;
    background: transparent;
    font-size: 20px;
    width: 40px;
    transition: width 0.3s, background-color 0.3s, color 0.3s;
  }
  
  .callNow button:hover {
    width: 90px;
    background-color: white;
    color: black;
    border-radius: 10px;
  }
  